<h1>Desafíos 1</h1>
<h3>Bienvenidos a mi primera pagina, del modulo 5</h3>
<h4> Nora Maraboli (Estudiente)</h4> <h5> 
<br>
<br>

<p>Aplicando los conceptos y herramientas aprendidas hasta ahora en Rails pondrás en
práctica tus conocimientos con la creación de una aplicación que contenga las siguientes
rutas.
<br>
<br>
1. /home
<br>
2. /projects
<br>
3. /contact
<br>
<br>
La idea será construir lo semejante a un portafolio en el cual puedas mostrar tus desafíos y
desarrollos implementados en Rails.</p> 