<h1> MIS PROYECTOS</h1>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card mb-4">
   <%= image_tag 'imagen_1.png',  class:"card-img-top imagen" %>
  <div class="card-body">
    <h5 class="card-title">Ricomida</h5>
    <p class="card-text">Las mejores recetas caseras </p>
    <a href="#" class="btn btn-primary boton">Ver Más</a>
  </div>
</div>
    </div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card mb-4">
   <%= image_tag 'imagen_2.png',  class:"card-img-top imagen" %>
  <div class="card-body">
    <h5 class="card-title">Olivia Ros</h5>
    <p class="card-text"> Probando las mejores comidas del fin del mundo </p>
    <a href="#" class="btn btn-primary boton">Ver Más</a>
  </div>
</div>
    </div>


<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card mb-4">
   <%= image_tag 'imagen_3.png',  class:"card-img-top imagen" %>
  <div class="card-body">
    <h5 class="card-title">Viajes Chile</h5>
    <p class="card-text"> Viajes por Chile lo mejor </p>
    <a href="#" class="btn btn-primary boton">Ver Más</a>
  </div>
</div>
    </div>